<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('../partials/head') %>

    <body>
        <!-- HEADER -->
        <%- include('../partials/headerAdmin') %> 
        <main>
            <!--LIST OF PRODUCTS SECTION-->
            <section class="product-list">
                <!--LINKS TO Agregar libro, Bell AND user-->
                <h1>Hola <%= /* locals.userLog.name */ %>
                </h1>
                <div class="belluser">
                    <a href="/admin/users" class="display-shop">Ir a usuarios</a>
                    <button class="display-shop" id="button-create">Agregar libro</button>
                    <a href="/user/login">
                        <div class="">
                            <i class="far fa-bell" id="icon"></i>
                        </div>
                    </a>
                    <a href="/user/login">
                        <div class="">
                            <i class="far fa-user" id="icon"></i>
                        </div>
                    </a>
                </div>
                <div class="search-table">
                    <h2>Libros</h2>
                    <form action="/admin/search" method="get" id="">
                        <label name="search" id="search">
                          <i class="fas fa-search "></i>
                          <input class="" type="search" name="search" id="" placeholder="">
                        </label>
                      </form>
                </div>
                <div class="products-table">
                    <table>
                        <thead>
                            <tr class="head-table">
                                <th>Imagen</th>
                                <th class="description-on">Descripcion</th>
                                <th>Título</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>

                            <% products.forEach(book=> { %>
                                <tr>
                                    <td> <a href="/product/<%= book.id %>"><img
                                                src="/images/Libros/<%= book.image%>"></a></td>
                                    <td class="description-on"><a href="/product/<%= book.id %>">
                                            <%= book.description.slice(0 , 200) %> ...
                                        </a></td>
                                    <td><a href="/product/<%= book.id %>"><%= book.title%></a></td>
                                    <td><a href="/product/<%= book.id %>"><%= book.stock%></a></td>
                                    <td><a href="/product/<%= book.id %>"><%= book.price%></a></td>
                                    <td><a href="/product/<%= book.id %>">Activo</a></td>
                                    <td><a href="/admin/editProduct/<%= book.id %>" class="button-edit"><i class="fas fa-pen"></i></a></td>
                                    <td>
                                        <form action="deleteProduct/<%=book.id%>?_method=DELETE" id="button-delete"
                                            method="POST">
                                            <button class="btn-delete" type="submit"><i
                                                    class="far fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
    </body>

</html>