<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
    <%- include('../partials/head') %>
<body>
  <!-- HEADER -->
  <%- include('../partials/headerAdmin') %> 
  <main>
    <!--LIST OF PRODUCTS SECTION-->
    <section class="product-list">
      <!--LINKS TO Agregar libro, Bell AND user-->
      <h1>Hola </h1>
      <div class="belluser">
        <a href="/admin/addProduct" class="display-shop" >Ir a libros</a>
        <a href="/user/login">
          <div class="">
            <i class="far fa-bell" id="icon"></i>
          </div>
        </a>
        <a href="/user/login">
          <div class="">
            <i class="far fa-user" id="icon"></i>
          </div>
        </a>
      </div>
      <div class="search-table">
        <h2>Usuarios</h2>
        <form action="/admin/users/search/search" method="get" id="">
            <label name="search" id="search">
              <i class="fas fa-search "></i>
              <input class="" type="search" name="search" id="" placeholder="">
            </label>
          </form>
      </div>
      <div class="products-table">
        <table class="f-1rem">
          <thead class="text-center">
            <tr class="head-table">
              <th>avatar</th>
              <th>Email</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Provincia</th>
              <th>Rol</th>
            </tr>
          </thead>
          <tbody class="text-center">             
            <% users.forEach(user => { %>
            <tr>
              <td><a href="http://localhost:3030/admin/users/<%= user.id %> "><img src="/images/Imagenes de perfil/<%= user.avatar%>" class="admin-avatars"></a></td>
              <td><a href="http://localhost:3030/admin/users/<%= user.id %> "><%= user.email%></a></td>
              <td><a href="http://localhost:3030/admin/users/<%= user.id %> "><%= user.name%></a></td>
              <td><a href="http://localhost:3030/admin/users/<%= user.id %> "><%= user.last_name%></a></td>
              <td><a href="http://localhost:3030/admin/users/<%= user.id %> "><%= user.country%></a></td>
              <td><a href="http://localhost:3030/admin/users/<%= user.id %> "><%= user.rol%></a></td>
              <td>
                <form action="deleteUser/<%=user.id%>?_method=DELETE" id="button-delete-user" method="POST">
                  <button class="btn-delete" type="submit"><i class="far fa-trash-alt"></i></button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </section> 
  </main>
  <script src="/js/adminUser.js"></script>
</body>
</html>