<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
    <%- include('../partials/head') %>
<body>
  <!-- HEADER -->
 <header class="header error-bg">
  <div class="star star1"></div>
  <div class="star star2"></div>
  <div class="star star3"></div>
  <div class="star star4"></div>
  <div class="star star5"></div>
  <div class="star star6"></div>
  <div class="star star7"></div>
  <div class="star star8"></div>
  <!-- LOGO CON LINK AL HOME -->
  <div class="logo">
      <h1 class="logo__title"><a href="/" class="logo__link">SpellBook</a></h1>
  </div >
    <!-- BURGER MENU -->
  <a href="/user/signUp">
    <div class="">
      <i class="far fa-user" id="icon"></i>
    </div>
  </a>
  </header>
  <main>
    <!--LIST OF PRODUCTS SECTION-->
    <section class="product-list">
      <!--LINKS TO Agregar libro, Bell AND user-->
      <div class="belluser">
        <button class="display-shop" id="button-create">Agregar libro</button>
        <a href="/login">
          <div class="">
            <i class="far fa-bell" id="icon"></i>
          </div>
        </a>
        <a href="/login">
          <div class="">
            <i class="far fa-user" id="icon"></i>
          </div>
        </a>
      </div>
      <div class="search-table">
        <h2>Libros</h2>
        <label name="search" id="search" >
          <i class="fas fa-search "></i>
          <input class="" type="search" name="search" id="search" placeholder="">
        </label>
      </div>
      <div class="products-table">
        <table>
          <thead>
            <tr class="head-table">
              <th><input type="checkbox"></th>
              <th>Imagen</th>
              <th class="description-on">Descripcion</th>
              <th>Título</th>
              <th>Autor</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Estado</th>
              <th> </th>
              <th> </th>
            </tr>
          </thead> 
          <tbody>
             
                <% products.forEach(book => { %>
                <tr>
                  <td><input type="checkbox"></td>
                  <td><img src="/images/Libros/<%= book.imagen%>"></td>
                  <td class="description-on"><%=  book.descripcion.slice(0 , 200) %> ...</td>
                  <td><%= book.titulo%></td>
                  <td><%= book.autor%></td>
                  <td><%= book.cantidad%></td>
                  <td><%= book.precio%></td>
                  <td>Activo</td>
                  <td>
                    <a href="/admin/editProduct/<%= book.id %>" class="button-edit">
                        <i class="fas fa-pen"></i>
                    </a>
                  </td>
                  <td>
                    <form action="deleteProduct/<%=book.id%>?_method=DELETE" id="button-delete" method="POST">
                      <button class="delete-btn" type="submit"><i class="far fa-trash-alt"></i></button>
                    </form>
                  </td>
                </tr>
                <% }) %>

            </tbody>
        </table>
      </div>
    </section>
<!-- CREATE FORM -->
    <section class="product-form">
      <div class="internal-modal">
        <div class="close-create">
          <i class="fas fa-times" id="icon" aria-hidden="true"></i>
        </div>
        <div class="add-btn"><h2 id="shop-form">Agregar libro</h2></div>
        <div class="errors">
        </div>
        <form method="POST" action="/admin/addProduct" enctype="multipart/form-data" id="product">
          <fieldset>
            <label for="image">Imagen:</label>
            <input type="file" name="imagen" id="image" />
          </fieldset>
          <fieldset>
            <label for="title">Título:</label>
            <input
              type="text"
              name="titulo"
              id="title"
            
            />
          </fieldset>
          <fieldset>
            <label for="autor">Autor :</label>
            <input
              type="text"
              name="autor"
              id="autor"  
              
            />
          </fieldset>
          <fieldset>
            <label for="amount">Cantidad :</label>
            <input
              type="number"
              name="cantidad"
              id="amount"
              
            />
          </fieldset>
          <fieldset>
            <label for="price">Precio :</label>
            <input
                type="text"
                id="price"
                name="precio"
                
            />
          </fieldset>
          <fieldset>
            <label for="descripcion">Descripción :</label>
            <input
              type="textarea"
              name="descripcion"
              id="descripion"
              
              
            />
          </fieldset>
          <fieldset>
            <input class="delete" type="reset" value="Borrar">
            <button class="display-shop" type="submit" > Guardar</button>
          </fieldset>
        </form>
      </div>
    </section>


    

  </main>
  <script src="/js/admin.js"></script>
</body>
</html>