<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('../partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/headerAdmin') %> 

    <body>
      <main class="containerUser">

        <!-- FORMULARIO DE REGISTRO -->
        <form class="" action="/admin/users/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data"
          id="editUser">

          <!-- IMAGEN DE USUARIO, VARITA -->
          <div class="editUser-card">
              <img class="editUser-img" src="/images/Imagenes de perfil/<%= user.avatar %>" alt="">
            <!-- NOMBRE, EMAIL -->
              <p class="profile-data-name"><%= user.name %></p>
              <p class="profile-data-email"><%= user.email %></p>
          </div>
          
          <!-- TÍTULO DE SECCIÓN -->
          <div class="headline">
            <img class="varita"src="/images/Recursos/varita.png" alt=" imágen de varita mágica">
            <h1>Datos Personales</h1>
            </div>
          <!-- CAMPOS A LLENAR -->
          <section class="conteiner-user-data">
            <!-- NOMBRE -->
            <p class="label">
              <input class="profile-input" placeholder="Nombre" type="text" name="name" id="name"
                value="<%= user.name %>">
            </p>
            <!-- APELLIDO -->
            <p class="">
              <input class="profile-input" placeholder="Apellido" type="text" name="firstName" id="firstName"
                value="<%= user.last_name %>">
            </p>

            <!-- LUGAR -->
            <p class="">

              <input class="profile-input" placeholder="Provincia" type="text" name="location" id="location"
                value="<%= user.country %>">
            </p>

            <!-- NACIMIENTO -->
            <p class="">
              <input class="profile-input" type="date" name="date" id="date" value="">
            </p>

            <!-- AVATAR -->
            <p class="editProfile-avatar">
              <label for="avatar" class="">
                <i class="fas fa-camera user-data-icon label"></i>
              </label>
              <input class="profile-input" type="file" name="avatar" id="avatar" value="<%= user.avatar %> ">
            </p>

            <!-- ROL -->
            <div class="profileEdit-rol">
              <label for="rol" class="rol-title">
                <span class=''> ROL </span>
              </label>
              <select name="rol" id="rol" class="rol-name">
                <option value="user">user</option>
                <option value="admin">admin</option>
              </select>
            </div>
          </section>

          <!-- BOTON PARA DE GUARDAR -->
          <div class="">
            <button type="submit" class="button">GUARDAR</button>
          </div>


        </form>
      </main>

      <!-- FOOTER -->
      <%- include('../partials/footer') %>

        <!-- LINK DEL JS DEL HEADER -->
        <script src="/js/header.js"></script>
    </body>

</html>