<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('../partials/head') %>

  <body>
   
    <!-- HEADER -->
    <%- include('../partials/headerAdmin') %> 

    <body>
      <!-- MODAL DE ACEPTAR -->
  <div class="modal-container" id="modal-submit-edit">
    <div class="modal-body">
      <p>¿Estas seguro de guardar los cambios?</p>
      <div class="modal-action">
        <button class="modal-button" id="modal-button-submit-edit">Guardar</button>
        <button class="modal-button" id="modal-button-cancel-edit">Cancelar</button>
      </div>
    </div>    
  </div>
  <!-- MODAL DE CANCELAR -->
  <div class="modal-container" id="modal-cancel-edit">
    <div class="modal-body">
      <p>Si cancelas no se guardaran los cambios</p>
      <div  class="modal-action">
        <button  class="modal-button" id="modal-button-go-edit">Seguir</button>
        <button  class="modal-button" id="modal-button-return-edit">Volver</button>
      </div>
    </div>    
  </div>
      <form method="POST" action="/admin/editProduct/<%= idBook.id %>?_method=PUT"
        enctype="multipart/form-data" id="product">
      <main class="edit-container">

        <section class="edit-conteiner-main">
          <div class="conteiner-user-data form-product-admin">
            <div class="cont-image-edit">
              <h2 id="shop-form" class="info-user">
                <%= idBook.title %>
              </h2>
              <img src="/images/Libros/<%= idBook.image %> " alt="" id="img-before" class="edit-form-image">
              <div class="" id="img-preview">
              </div>
            </div>
              <label for="image">Imagen:</label>
              <div>
                <input type="file" name="imagen" id="image"/>
                <p id="image-error" class="warning"></p>
              </div>
              <label for="titulo">Título:</label>
              <div>
                <input type="text" name="titulo" id="titulo" value="<%= idBook.title %> " />
                <p id="titulo-error" class="warning"></p>
              </div>

              <label for="autor">Autor:</label>
              <select name="autor" id="autor" class="select-fcm border-fcm">
                <% authors.forEach(author=> { %>
                  <option value="<%= author.id %>">
                    <%= author.name %>
                  </option>
                  <% }); %>
              </select>

              <label for="amount">Stock:</label>
              <div>
                <input type="number" name="cantidad" id="amount" value="<%= idBook.stock %>" min="1" pattern="^[0-9]+" />
                <p id="cantidad-error" class="warning"></p>
              </div>
          </div>
        </section>
        <section class="edit-conteiner-main">
          <div class="conteiner-user-data ">
            <section class="form-product-admin">
              <label for="precio">Precio:</label>
              <div>
                <input type="number" id="precio" name="precio" value="<%= idBook.price %>" min="1" pattern="^[0-9]+" />
                <p id="precio-error" class="warning"></p>
              </div>

              <label for="descripcion">Descripción:</label>
              <div>
                <input type="textarea" name="descripcion" id="description" value="<%= idBook.description %>" />
                <p id="description-error" class="warning"></p>
              </div>

              <label for="recommended_age">Edad Recomendada:</label>

              <select name="recommended_age" id="" class="select-fcm border-fcm">
                <% recommended_age.forEach(age=> { %>
                  <option value="<%= age.id %>">
                    <%= age.age %>
                  </option>
                  <% }); %>
              </select>

              <label for="publisher">Editorial:</label>
              <div>
                <input type="text" name="publisher" id="publisher" value="<%= idBook.publisher%>" />
                <p id="publisher-error" class="warning"></p>
              </div>
              <label for="language">Idioma:</label>
              <div>
                <input type="text" name="language" id="language" value="<%= idBook.language %>" />
                <p id="language-error" class="warning"></p>
              </div>
              <label for="publication_year">Año de Publicación:</label>

              <div>
                <input type="number" name="publication_year" id="publication_year"
                  value="<%= idBook.publication_year %>" min="1" pattern="^[0-9]+" />
                <p id="publication_year-error" class="warning"></p>
              </div>
              <label for="pages">Nro de Páginas:</label>
              <div>
                <input type="number" name="pages" id="pages" value="<%= idBook.pages %>" min="1" pattern="^[0-9]+"/>
                <p id="pages-error" class="warning"></p>
              </div>          
              
            </section>
          </div>
        </section>
      </main>
      
      <p id="submit-error" class="warning"></p> 
      <div class="edit-submit">
        <button class=" button edit-button-submit button__send" id="cancel-edit" type="reset" >Cancelar</button>
        <button class=" button edit-button-submit" type="submit" id="save-edit">Guardar</button>
      </div>              
    
    </form>
      <!-- FOOTER -->
      <%- include('../partials/footer') %>
        <!-- LINK DEL JS DE EDIT FORM -->        
        <script src="/js/editForm.js"></script>
    </body>
   
</html>