<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head') %>

<body>
<!-- HEADER -->
<%- include('../partials/header') %> 

<div class="headline">
  <img class="varita"src="/images/Recursos/varita.png" alt=" imágen de varita mágica">
  <h1>Nuestros Libros</h1>
  <hr class="bg-blue">
</div>
<section class="month-selection-books">
<% products.forEach(book => { %>


  <article class="book">
    <div class="book-content">
      <a href="/product/<%= book.id %> ">
        <img class="book-cover" src="/images/Libros/<%= book.image %>" alt="">
      </a>
      <h3 class="book-name"><%= book.title %> </h3>
      <h5 class="book-autor"><%= book.author %> </h5>
      <div class="book-price">
       <i class="fas fa-dollar-sign"></i>
       <p><%= book.price %> </p>
      </div>
   <!-- Botón de comprar -->
      <div>
        <button class="button" type="button" value="<%= book.id %>" id="buy-button">Comprar</button>
      </div>
   </div>
   </article>
   <% }) %>
  </section>
  
<!-- FOOTER -->
<%- include('../partials/footer') %>

<!-- LINK DEL JS DEL HEADER -->
<script src="/js/header.js"></script>
 <!-- LINK DEL JS DEL CART -->
 <script src="/js/cart.js"></script>

</body>