<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head') %>

<body>
<!-- HEADER -->
<%- include('../partials/header') %> 
<seccion class="conteiner-main">
  <div class="headline">
    <img class="varita"src="/images/Recursos/varita.png" alt=" imágen de varita mágica">
    <h1>Novedades</h1>
    <hr class="bg-blue">
  </div>

  <p class="m-1"> Si estás buscando los últimos lanzamientos... ¡estás en el lugar adecuado!</p>
  <% booksNovelties.forEach((book, i) => { %>
    <% if (i % 2 == 0) { %>

      <div class="nov-product">
        <figure class="nov-book">
          <img class="books__img book-cover" src="images/libros/<%= book.imagen%>" alt="">       
        </figure>
        <div class="nov-description">
          <p class="nov-text">      
              <% let descriptionLow = book.descripcion.slice(0 , 250) %>
              <%= descriptionLow %> ...               
          </p>
          <p class="nov-text-d">
            <%= book.descripcion %>
          </p>
          <a class="nov-autor" href=""><%= book.autor %> </a>
          <span class="nov-price">$ <%= book.precio %> </span>
        </div>
      </div>
  
  <% } else { %>
    <div class="nov-product">
      <div class="nov-description">
        <p class="nov-text">      
          <% let descriptionLow = book.descripcion.slice(0 , 250) %>
          <%= descriptionLow %> ...               
        </p>
        <p class="nov-text-d">
          <%= book.descripcion %>
        </p>
        <a class="nov-autor" href=""><%= book.autor %> </a>
        <span class="nov-price">$ <%= book.precio %> </span>
      </div>
      <figure class="nov-book">
        <img class="books__img book-cover" src="images/libros/<%= book.imagen%>" alt="aca va una imagen">       
      </figure>
    </div>
  <% } %>   
  <% }) %>
  
</seccion>
<seccion class="conteiner-main">
  <div class="headline">
    <img class="varita"src="/images/Recursos/varita.png" alt=" imágen de varita mágica">
    <h1>Recomendados</h1>
    <hr class="bg-blue">
  </div>

  <div class="m-1">
    <p>Somos fanaticos de la lectura y lo fantastico.. </p>
  </div>
  <p class="m-1">Por ello te brindamos esta sección que elegimos nosotros mismos para que disfrutes.</p>

  <% booksRecommended.forEach((book, i) => { %>
    <% if (i % 2 == 0) { %>

          <div class="nov-product">
            <figure class="nov-book">
              <img class="books__img book-cover" src="images/libros/<%= book.imagen%>" alt="">       
            </figure>
            <div class="nov-description">
              <p class="nov-text">      
                <% let descriptionLow = book.descripcion.slice(0 , 250) %>
                <%= descriptionLow %> ...               
            </p>
            <p class="nov-text-d">
              <%= book.descripcion %>
            </p>
              <a class="nov-autor" href=""><%= book.autor %> </a>
              <span class="nov-price">$ <%= book.precio %> </span>
            </div>
          </div>

      <% } else { %>
        <div class="nov-product">
          <div class="nov-description">
            <p class="nov-text">      
              <% let descriptionLow = book.descripcion.slice(0 , 250) %>
              <%= descriptionLow %> ...               
          </p>
          <p class="nov-text-d">
            <%= book.descripcion %>
          </p>
            <a class="nov-autor" href=""><%= book.autor %> </a>
            <span class="nov-price">$ <%= book.precio %> </span>
          </div>
          <figure class="nov-book">
            <img class="books__img book-cover" src="images/libros/<%= book.imagen%>" alt="aca va una imagen">       
          </figure>
        </div>
    <% } %>   
  <% }) %>

</seccion>

<seccion class="conteiner-main">
  <div class="headline">
    <img class="varita"src="/images/Recursos/varita.png" alt=" imágen de varita mágica">
    <h1>Los más vistos</h1>
    <hr class="bg-blue">
  </div>

  <div class="m-1">
   <p>Tambien queremos mostrarte los MAS BUSCADOS por los amantes de la magia y fantasia.</p>
  </div>
  <div  class="m-1">
    <p>Que no te sorprenda que algunos coincidan con la selección de arriba. </p>
    <br>
    <p>Que te pudedo decir...</p>
  </div>
  <div class="m-1 text-center">
    <p>TENEMOS BUEN GUSTO!!!!   🤓🤓</p>
  </div>
  <% booksRecommended.forEach((book, i) => { %>
    <% if (i % 2 == 0) { %>

          <div class="nov-product">
            <figure class="nov-book">
              <img class="books__img book-cover" src="images/libros/<%= book.imagen%>" alt="">       
            </figure>
            <div class="nov-description">
              <p class="nov-text">      
                <% let descriptionLow = book.descripcion.slice(0 , 250) %>
                <%= descriptionLow %> ...               
            </p>
            <p class="nov-text-d">
              <%= book.descripcion %>
            </p>
              <a class="nov-autor" href=""><%= book.autor %> </a>
              <span class="nov-price">$ <%= book.precio %> </span>
            </div>
          </div>

      <% } else { %>
        <div class="nov-product">
          <div class="nov-description">
            <p class="nov-text">      
              <% let descriptionLow = book.descripcion.slice(0 , 250) %>
              <%= descriptionLow %> ...               
            </p>
            <p class="nov-text-d">
              <%= book.descripcion %>
            </p>
            <a class="nov-autor" href=""><%= book.autor %> </a>
            <span class="nov-price">$ <%= book.precio %> </span>
          </div>
          <figure class="nov-book">
            <img class="books__img book-cover" src="images/libros/<%= book.imagen%>" alt="aca va una imagen">       
          </figure>
        </div>
    <% } %>
   
   
  <% }) %>
 

</seccion>




<!-- FOOTER -->
<%- include('../partials/footer') %>

<!-- LINK DEL JS DEL HEADER -->
<script src="js/header.js"></script>

</body>