<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
    <%- include('../partials/head') %>
  <body>
<!-- HEADER -->
<%- include('../partials/header') %> 

    <main class="main">
      <section class="product">
        <article class="item">
          <h2 class="item__title"><%=idBook.title%></h2>
          <figure class="item__img">
            <img
              src="/images/libros/<%=idBook.image%>"
              alt=""
            />
          </figure>
          <div class="descriptions">
            <p class="descriptions__text">
              Precio: <span class="description--gray">$<%= idBook.price %> </span>
            </p>
            <p class="descriptions__text">
              Autor: <span class="description--gray"><%= idBook.author.name %></span>
            </p>
            <p class="descriptions__text">
              Editorial:<span class="description--gray"><%= idBook.publisher %></span>
            </p>
            <p class="descriptions__text">
              Año de edicion:<span class="description--gray"><%= idBook.publication_year %></span>
            </p>
            <p class="descriptions__text">
              Idioma:<span class="description--gray"><%= idBook.language %></span>
            </p>
            <p class="descriptions__text">
              Cantidad de páginas:<span class="description--gray"><%= idBook.pages %></span>
            </p>
          </div>
          <div class="card__box">
          <button class="cart text-center fit-content">
            <i class="fas fa-cart-plus icon-cart"></i> Agregar al Carrito
          </button>
          </div>
          <% if (locals.inLogged) { %>
            <% if (locals.userLog.rol === "admin") { %>
          <div class="card__box">
            <a href="/admin/editProduct/<%= idBook.id %>" class="cart text-center fit-content"> Editar </a>
          </div>
          <% }} %> 
          <div class="descriptions descriptions--top">
            <h3 class="descriptions__title">Sinopsis</h3>
            <p class="descriptions__paragraph">
              <%= idBook.description %>
            </p>
          </div>
        </article>
        <article class="item item--secondary">
          <div class="box__books"></div>
          <h2 class="item__title item--secondary__title">Productos Relacionados</h2>

          <% relatedBook.forEach(book => { %>
            <figure class="books">
              <a href="/product/<%= book.id %> " class="books__title"><img class="books__img book-cover" src="/images/libros/<%= book.image %> " alt=""></a>
                <a href="/product/<%= book.id %> " class="books__title"><%= book.title %> </a>
            </figure>
          <% }) %>
          
        
        </article>
      </section>
    </main>

  <!-- FOOTER -->
  <%- include('../partials/footer') %>
  
    <script src="/js/header.js"></script>
  </body>
</html>
