<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
    <%- include('../partials/head') %>
  <body>
<!-- HEADER -->
<%- include('../partials/header') %> 

    <main class="main">
      <section class="product">
        <article class="item">
          <h2 class="item__title"><%=idBook.titulo%></h2>
          <figure class="item__img">
            <img
              src="/images/libros/<%=idBook.imagen%>"
              alt=""
            />
          </figure>
          <div class="descriptions">
            <p class="descriptions__text">
              Precio: <span class="description--gray">$<%= idBook.precio %> </span>
            </p>
            <p class="descriptions__text">
              Autor: <span class="description--gray"><%= idBook.autor %></span>
            </p>
            <p class="descriptions__text">
              Editorial:<span class="description--gray"><%= idBook.editorial %></span>
            </p>
            <p class="descriptions__text">
              Año de edicion:<span class="description--gray"><%= idBook.edicion %></span>
            </p>
            <p class="descriptions__text">
              Idioma:<span class="description--gray"><%= idBook.idioma %></span>
            </p>
            <p class="descriptions__text">
              Cantidad de páginas:<span class="description--gray"><%= idBook.pag %></span>
            </p>
          </div>
          <div class="card__box">
          <button class="cart button">
            <i class="fas fa-cart-plus icon-cart"></i> Agregar al Carrito
          </button>
          </div>
          <div class="descriptions descriptions--top">
            <h3 class="descriptions__title">Sinopsis</h3>
            <p class="descriptions__paragraph">
              <%= idBook.descripcion %>
            </p>
          </div>
        </article>
        <article class="item item--secondary">
          <div class="box__books"></div>
          <h2 class="item__title item--secondary__title">Productos Relacionados</h2>

          <% relatedBook.forEach(book => { %>
            <figure class="books">
              <img class="books__img book-cover" src="/images/libros/<%= book.imagen %> " alt="">
                <a href="" class="books__title"><%= book.titulo %> </a>
            </figure>
          <% }) %>
          
        
        </article>
      </section>
    </main>

  <!-- FOOTER -->
  <%- include('../partials/footer') %>
  
    <script src="/js/header.js"></script>
  </body>
</html>
