<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('../partials/head') %>

<body>
<!-- HEADER -->
<%- include('../partials/header') %> 

<!-- Titulo de pagina -->
<div class="admin-title">
  <h1 class="headline-search">Resultados de la Búsqueda: "<%= search %>" </h1>
  <hr class="bg-blue">
</div>
<!-- Si hay productos que coincida con la busqueda los lista -->
<% if (result.length !== 0) { %>
  <% result.forEach(book => { %>
    
    <div class="nov-product">
      <a href="/product/<%= book.id %>">
        <figure class="nov-book">
          <img class="books__img book-cover" src="images/libros/<%= book.image%>" alt="">       
        </figure>
      </a>
      <a href="/product/<%= book.id %>">
        <div class="nov-description">
          <p class="">      
              <% let descriptionLow = book.description.slice(0 , 250) %>
              <%= descriptionLow %> ...               
          </p>
          <a class="nov-autor" href=""><%= book.author %> </a>
          <span class="nov-price">$ <%= book.price %> </span>
          <hr class="bg-blue">
        </div>
    
      </a> 
    </div>
    <% }) %>
    
<!-- Este es el msj si no encuentra coincidencia -->
<% } else { %>
  <div class="nov-title">
    <h1>No tenemos Libros con ese nombre </h1>
  </div>
  
  <% } %>  
  
<!-- FOOTER -->
<%- include('../partials/footer') %>

<!-- LINK DEL JS DEL HEADER -->
<script src="/js/header.js"></script>


  </body>
</html>