<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head') %>
  <!-- COMIENZA EL BODY -->
  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- COMIENZA EL REGITRO DE USUARIO -->
    
    <main class="conteiner-main">
      <!-- FORMULARIO DE REGISTRO -->
      <form
        action="/user/profile?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
        id="editForm"
      >
        <!-- IMAGEN DE USUARIO, BARITA -->
        <section class="register-user">
          <div class="user-image">
            <img
              class="user-image-item"
              src="/images/Imagenes de perfil/<%= user.avatar %>"
              alt=""
            />
          </div>
        </section>

        <!-- NOMBRE DEL USUARIO -->

        <!-- CAMPOS A LLENAR -->
        <div class="conteiner-info-user">
          <!-- NOMBRE -->
          <div class="info-user">
            <img
              class="user-data-icon user-pocision"
              height="40px"
              src="/images/recursos/wizard-icon.png"
              alt="img de mago"
            />
            <p><%= user.name %></p>
          </div>

          <!-- EMAIL -->
          <div class="info-user">
            <i class="fas fa-envelope user-data-icon"></i>
            <p><%= user.email %></p>
          </div>
        </div>

        <!-- TÍTULO DE SECCIÓN -->
        <h2 class="title-seccion">Datos Personales</h2>

        <!-- CAMPOS A LLENAR -->
        <section class="conteiner-user-data">
          <!-- NOMBRE -->
          <p class="user-data">
            <label for="name">
              <img
                class="user-data-icon user-pocision"
                height="40px"
                src="/images/recursos/wizard-icon.png"
                alt="img de mago"
              />
            </label>
            <input
              class="user-date-inputs"
              placeholder="Nombre"
              type="text"
              name="name"
              id="name"
              value="<%= user.name %>"
            />
          </p>
          <span class="warning" id="nameError"></span>
          <!-- APELLIDO -->
          <p class="user-data-firstname">
            <input
              class="user-date-inputs"
              placeholder="Apellido"
              type="text"
              name="firstName"
              id="firstName"
              value="<%= user.last_name %>"
            />
          </p>

          <!-- LUGAR -->
          <p class="user-data">
            <label for="location">
              <i
                class="fas fa-globe-americas user-data-icon world-pocision"
              ></i>
            </label>
            <input
              class="user-date-inputs"
              placeholder="País de Residencia"
              type="text"
              name="location"
              id="location"
              value="<%= user.country %>"
            />
          </p>

          <!-- NACIMIENTO -->
          <p class="user-data">
            <label for="date">
              <i class="far fa-calendar user-data-icon"
                ><img
                  class="image-icon"
                  height="18px"
                  src="/images/recursos/wizard-icon.png"
                  alt="img de mago"
              /></i>
            </label>
            <input
              class="user-date-inputs-date date-pocision"
              type="date"
              name="date"
              id="date"
              value=""
            />
          </p>

          <!-- AVATAR -->
          <p class="user-data">
            <label for="avatar" class="cont-flex-column">
              <img
                class="user-data-icon user-pocision"
                height="25px"
                src="/images/recursos/wizard-icon.png"
                alt="img de mago"
              />
              <spam class=""> Avatar </spam>
            </label>
            <input
              class="user-date-inputs-date"
              type="file"
              name="avatar"
              id="avatar"
              value="<%= user.avatar %> "
            />
          </p>        
        </section>
          <!-- BOTON PARA DE GUARDAR -->
          <div class="user-submit-container">
            <button type="submit" class="btn-save button">GUARDAR</button>
          </div>
          
      </form>
    </main>
    
      <h2 class="title-seccion">Tus ultimas Compras</h2>

      <!-- LINEA HR -->
      <hr class="one-line" />

      <section>
        <p class="now-buy">No haz realizado ninguna compra aún</p>
        <a href="#"><p class="now-buy">Empieza ahora</p></a>
      </section>

      <form action="http://localhost:3030/admin/deleteUser/<%=user.id%>?_method=DELETE" id="delete-user" method="POST">
        <button class="button" type="submit">Eliminar mi cuenta</button>
      </form>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>

    <!-- LINK DEL JS DEL HEADER -->
    <script src="/js/header.js"></script>
  </body>
</html>

<script src="/js/profileValidator.js"></script>
