<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('../partials/head') %>
  <!-- COMIENZA EL BODY -->
  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- MODAL DE ACEPTAR -->
    <div class="modal-container" id="modal-clear-user">
      <div class="modal-body">
        <p>¿Vas a Eliminarte?</p>
        <div class="modal-action">
          <button class="modal-button" id="modal-button-clear-user">Eliminar</button>
          <button class="modal-button" id="modal-button-cancel-clear-user">Cancelar</button>
        </div>
      </div>    
    </div>

    <!-- COMIENZA EL REGITRO DE USUARIO -->
    
    <main class="containerUser">
      <!-- FORMULARIO DE REGISTRO -->
      <div class="user-profile">
        <form
        action="/user/profile?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
        id="editForm"
        >
        <section class="user-card">
        <!-- IMAGEN DE USUARIO, VARITA --> 
            <img
              class="user-image-item"
              src="/images/Imagenes de perfil/<%= user.avatar %>"
              alt=""
            />
            
        <!-- NOMBRE DEL USUARIO -->

        <!-- CAMPOS A LLENAR -->
        <div class="conteiner-info-user">
          <!-- NOMBRE -->
          <div class="info-user">
            <p class="profile-data-name"><%= user.name %></p>
          <!-- EMAIL -->
            <p class="profile-data-mail"><%= user.email %></p>
          </div>
        </div>
     </div>
      </section>
        <!-- TÍTULO DE SECCIÓN -->
        <div class="headline">
          <img class="varita"src="/images/Recursos/varita.png" alt=" imágen de varita mágica">
          <h1>Datos Personales</h1>
          </div>

        <!-- CAMPOS A LLENAR -->
        <section class="conteiner-user-data">
          <!-- NOMBRE -->
          <p class="user-data">
            <label for="name">
              <p class="label">Nombre</p>
            </label>
            <input
            class="profile-input"
              placeholder="Nombre"
              type="text"
              name="name"
              id="name"
              value="<%= user.name %>"
            />
          </p>
          <span class="warning" id="nameError"></span>
          <!-- APELLIDO -->
          <p class="user-data">
          <label for="apellido">
            <p class="label">Apellido</p>
          </label>
            <input
            class="profile-input"
              placeholder="Apellido"
              type="text"
              name="firstName"
              id="firstName"
              value="<%= user.last_name %>"
            />
          </p>

          <!-- LUGAR -->
          <p class="user-data">
            <label for="location">
              <i class="fas fa-globe-americas user-data-icon world-pocision label"
              ></i>
            </label>
            <input
            class="profile-input"
              placeholder="Provincia"
              type="text"
              name="location"
              id="location"
              value="<%= user.country %>"
            />
          </p>

          <!-- NACIMIENTO -->
          <p class="user-data">
            <label for="date">
              <i class="fas fa-birthday-cake user-data-icon label"></i>
            </label>
            <input
            class="profile-input"
              type="date"
              name="date"
              id="date"
              value="<%= user.birthday %>"
            />
          </p>

          <!-- AVATAR -->
          <p class="user-data-avatar">
              <i class="fas fa-camera user-data-icon"></i>
            <input
            class="profile-input-img"
              type="file"
              name="avatar"
              id="avatar"
              value="<%= user.avatar %> "
            />
          </p>        
        </section>
          <!-- BOTON PARA DE GUARDAR Y DELETE -->
          <div class="profile-btn">
          <div class="user-submit-container">
            <button type="submit" class="btn-save button">Guardar</button>
          </div>
          <form action="http://localhost:3030/admin/deleteUser/<%=user.id%>?_method=DELETE" id="delete-user" method="POST">
            <button class="button-delete" type="submit">Eliminar mi cuenta</button>
          </form>
        </div>
      </form>
    </div>
    </main>

      

    <!-- FOOTER -->
    <%- include('../partials/footer') %>

    <!-- LINK DEL JS DEL HEADER -->
    <script src="/js/header.js"></script>
  </body>
</html>

<script src="/js/profileValidator.js"></script>
